PORT=6000
url=
# MONGODBURL=mongodb://127.0.0.1:27017/travelbuddy
MONGODBURL=
PROVIDER_JWT_SECRET_KEY=
USER_JWT_SECRET_KEY=
ADMIN_JWT_SECRET_KEY=
SECRET_KEY_TOKEN=
TOKEN_EXPIRY_TIME=4h
ENCRYPTION_KEY=
SALT_ROUNDS=12
# Venkatesh@123