PORT=6000
url=mongodb+srv://venkatesh:venkat123@travelbuddy.unfc8.mongodb.net/travelbuddy?retryWrites=true&w=majority&appName=travelbuddy
MONGODBURL=mongodb://127.0.0.1:27017/travelbuddy
PROVIDER_JWT_SECRET_KEY=
USER_JWT_SECRET_KEY=
ADMIN_JWT_SECRET_KEY=
SALT_ROUNDS=
SECRET_KEY_TOKEN=
TOKEN_EXPIRY_TIME=
ENCRYPTION_KEY=